/* /Components/BoardCell.razor.rz.scp.css */
/* entire container, keeps perspective */
.flip-container[b-ejhxvtl1z8] {
    perspective: 1000px;
}

/* flip the pane */
.doflip[b-ejhxvtl1z8] {
    transform: rotateX(180deg);
}

.flip-container[b-ejhxvtl1z8], .front[b-ejhxvtl1z8], .back[b-ejhxvtl1z8] {
    width: 64px;
    height: 64px;
    margin: 2px;
}

/* flip speed goes here */
.flipper[b-ejhxvtl1z8] {
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
    transform-origin: 100% 34px; /* half of height plus margin */
}

/* hide back of pane during swap */
.front[b-ejhxvtl1z8], .back[b-ejhxvtl1z8] {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front[b-ejhxvtl1z8] {
    transform: rotateX(0deg);
}

/* back, initially hidden pane */
.back[b-ejhxvtl1z8] {
    transform: rotateX(180deg);
}
