@namespace WordleBlazor.Components
@inject GameManagerService GameManagerService
@implements IDisposable

<Animation Name="animate-shake" Duration="1000" @ref="AnimationRef">
    <div class="grid grid-cols-5">
        @ChildContent
    </div>
</Animation>

@code {
    [Parameter, EditorRequired]
    public int RowIndex { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;

    private Animation AnimationRef = default!;

    protected override void OnInitialized()
    {
        GameManagerService.OnBoardLineWrongSolution += TriggerAnimation;
    }
    
    public void Dispose()
    {
        GameManagerService.OnBoardLineWrongSolution -= TriggerAnimation;
    }

    private void TriggerAnimation(int currentRow)
    {
        if (currentRow == RowIndex)
            AnimationRef.TriggerAnimation();
    }
}