<div class="board">
    <div class="board-box board-correct-letter">A</div>
    <div class="board-box board-incorrect-position-letter">I</div>
    <div class="board-box board-incorrect-letter">R</div>
    <div class="board-box board-incorrect-letter">E</div>
    <div class="board-box board-incorrect-position-letter">O</div>

    <div class="board-box board-correct-letter">A</div>
    <div class="board-box board-incorrect-position-letter">N</div>
    <div class="board-box board-correct-letter">I</div>
    <div class="board-box board-correct-letter">O</div>
    <div class="board-box board-incorrect-letter">S</div>

    <div class="board-box board-typing-letter">A</div>
    <div class="board-box board-typing-letter">V</div>
    <div class="board-box board-typing-letter">I</div>
    <div class="board-box board-typing-letter">O</div>
    <div class="board-box board-typing-letter">N</div>

    <div class="board-box"></div>
    <div class="board-box"></div>
    <div class="board-box"></div>
    <div class="board-box"></div>
    <div class="board-box"></div>

    <div class="board-box"></div>
    <div class="board-box"></div>
    <div class="board-box"></div>
    <div class="board-box"></div>
    <div class="board-box"></div>

    <div class="board-box"></div>
    <div class="board-box"></div>
    <div class="board-box"></div>
    <div class="board-box"></div>
    <div class="board-box"></div>
</div>

@code {

}
