@inherits BaseComponent

<button class="bg-green text-white font-semibold rounded cursor-pointer h-12 flex items-center px-5 pb-0.5 @ButtonClasses" style="@Style" @attributes="UserAttributes" @onclick="OnClick">
    @Text
</button>
