<div class="keyboard">
    <div class="keyboard-line">
    <div class="keyboard-letter">Q</div>
    <div class="keyboard-letter">W</div>
    <div class="keyboard-letter keyboard-incorrect-letter">E</div>
    <div class="keyboard-letter keyboard-incorrect-letter">R</div>
    <div class="keyboard-letter">T</div>
    <div class="keyboard-letter">Y</div>
    <div class="keyboard-letter">U</div>
    <div class="keyboard-letter keyboard-correct-letter">I</div>
    <div class="keyboard-letter keyboard-correct-letter">O</div>
    <div class="keyboard-letter">P</div>
    </div>

    <div class="keyboard-line">
    <div class="keyboard-letter keyboard-correct-letter">A</div>
    <div class="keyboard-letter keyboard-incorrect-letter">S</div>
    <div class="keyboard-letter">D</div>
    <div class="keyboard-letter">F</div>
    <div class="keyboard-letter">G</div>
    <div class="keyboard-letter">H</div>
    <div class="keyboard-letter">J</div>
    <div class="keyboard-letter">K</div>
    <div class="keyboard-letter">L</div>
    <div class="keyboard-letter">Ñ</div>
    </div>

    <div class="keyboard-line">
    <div class="keyboard-send">ENVIAR</div>
    <div class="keyboard-letter">Z</div>
    <div class="keyboard-letter">X</div>
    <div class="keyboard-letter">C</div>
    <div class="keyboard-letter">V</div>
    <div class="keyboard-letter">B</div>
    <div class="keyboard-letter keyboard-incorrect-position-letter">N</div>
    <div class="keyboard-letter">M</div>
    <div class="keyboard-backspace">BORRAR</div>
    </div>
</div>

@code {

}
