.keyboard {
  left: 0;
  right: 0;
  bottom: 0;
  height: 164px;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 300px;
}

.keyboard-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.keyboard-letter,
.keyboard-send,
.keyboard-backspace {
  background-color: #d3d6da;
  height: 52px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  outline-color: transparent;
  transition: background-color 0.15s, outline-color 0.15s;
}

.keyboard-letter:hover,
.keyboard-send:hover,
.keyboard-backspace:hover {
  background-color: #e5e6e9;
}

.keyboard-letter:active,
.keyboard-send:active,
.keyboard-backspace:active {
  background-color: #e0e6ec;
  outline: 3px solid #bbdaf4;
}

.keyboard-letter {
  width: 44px;
}

.keyboard-send,
.keyboard-backspace {
  width: 66px;
}

.keyboard-correct-letter {
  background-color: rgb(106, 170, 100);
  border-color: rgb(106, 170, 100);
}

.keyboard-correct-letter:hover {
  background-color: rgba(106, 170, 100, 0.7);
  border-color: rgba(106, 170, 100, 0.7);
}

.keyboard-incorrect-position-letter {
  background-color: rgb(201, 180, 88);
  border-color: rgb(201, 180, 88);
}

.keyboard-incorrect-position-letter:hover {
  background-color: rgba(201, 180, 88, 0.7);
  border-color: rgba(201, 180, 88, 0.7);
}

.keyboard-incorrect-letter {
  background-color: rgb(120, 124, 126);
  border-color: rgb(120, 124, 126);
}

.keyboard-incorrect-letter:hover {
  background-color: rgba(120, 124, 126, 0.7);
  border-color: rgba(120, 124, 126, 0.7);
}

.keyboard-correct-letter,
.keyboard-incorrect-position-letter,
.keyboard-incorrect-letter {
  color: white;
}