@page "/"

@inject GameManagerService GameManagerService

<PageTitle>Wordle</PageTitle>

<div class="flex flex-col justify-between items-center h-full w-full outline-0" @ref="mainDiv" tabindex="0" @onkeydown="KeyDown">
    <HeaderBar AncestorComponent="this" />

    <ToastNotification />

    <GameBoard @ref="gameBoard" />

    @if (showStats)
    {
        <Modal Title="ESTADÍSTICAS" OnCloseCallback="@CloseStats">
            <StatsDialog />
        </Modal>
    }
</div>