@inject GameManagerService GameManagerService
@implements IDisposable

<Animation Name="animate-shake" Duration="1000" @ref="_animationRef">
    <div class="grid grid-cols-5">
        @ChildContent
    </div>
</Animation>