@inject GameManagerService GameManagerService

<div class="flex flex-col">
    <BoardLine @ref="boardLine0">
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 0].Value" CellState="GameManagerService.BoardGrid[0, 0].State" LinePosition="0" @ref="boardCell00" />
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 1].Value" CellState="GameManagerService.BoardGrid[0, 1].State" LinePosition="1" @ref="boardCell01" />
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 2].Value" CellState="GameManagerService.BoardGrid[0, 2].State" LinePosition="2" @ref="boardCell02" />
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 3].Value" CellState="GameManagerService.BoardGrid[0, 3].State" LinePosition="3" @ref="boardCell03" />
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 4].Value" CellState="GameManagerService.BoardGrid[0, 4].State" LinePosition="4" @ref="boardCell04" />
    </BoardLine>

    <BoardLine @ref="boardLine1">
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 0].Value" CellState="GameManagerService.BoardGrid[1, 0].State" LinePosition="0" @ref="boardCell10" />
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 1].Value" CellState="GameManagerService.BoardGrid[1, 1].State" LinePosition="1" @ref="boardCell11" />
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 2].Value" CellState="GameManagerService.BoardGrid[1, 2].State" LinePosition="2" @ref="boardCell12" />
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 3].Value" CellState="GameManagerService.BoardGrid[1, 3].State" LinePosition="3" @ref="boardCell13" />
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 4].Value" CellState="GameManagerService.BoardGrid[1, 4].State" LinePosition="4" @ref="boardCell14" />
    </BoardLine>

    <BoardLine @ref="boardLine2">
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 0].Value" CellState="GameManagerService.BoardGrid[2, 0].State" LinePosition="0" @ref="boardCell20" />
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 1].Value" CellState="GameManagerService.BoardGrid[2, 1].State" LinePosition="1" @ref="boardCell21" />
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 2].Value" CellState="GameManagerService.BoardGrid[2, 2].State" LinePosition="2" @ref="boardCell22" />
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 3].Value" CellState="GameManagerService.BoardGrid[2, 3].State" LinePosition="3" @ref="boardCell23" />
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 4].Value" CellState="GameManagerService.BoardGrid[2, 4].State" LinePosition="4" @ref="boardCell24" />
    </BoardLine>

    <BoardLine @ref="boardLine3">
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 0].Value" CellState="GameManagerService.BoardGrid[3, 0].State" LinePosition="0" @ref="boardCell30" />
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 1].Value" CellState="GameManagerService.BoardGrid[3, 1].State" LinePosition="1" @ref="boardCell31" />
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 2].Value" CellState="GameManagerService.BoardGrid[3, 2].State" LinePosition="2" @ref="boardCell32" />
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 3].Value" CellState="GameManagerService.BoardGrid[3, 3].State" LinePosition="3" @ref="boardCell33" />
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 4].Value" CellState="GameManagerService.BoardGrid[3, 4].State" LinePosition="4" @ref="boardCell34" />
    </BoardLine>

    <BoardLine @ref="boardLine4">
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 0].Value" CellState="GameManagerService.BoardGrid[4, 0].State" LinePosition="0" @ref="boardCell40" />
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 1].Value" CellState="GameManagerService.BoardGrid[4, 1].State" LinePosition="1" @ref="boardCell41" />
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 2].Value" CellState="GameManagerService.BoardGrid[4, 2].State" LinePosition="2" @ref="boardCell42" />
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 3].Value" CellState="GameManagerService.BoardGrid[4, 3].State" LinePosition="3" @ref="boardCell43" />
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 4].Value" CellState="GameManagerService.BoardGrid[4, 4].State" LinePosition="4" @ref="boardCell44" />
    </BoardLine>

    <BoardLine @ref="boardLine5">
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 0].Value" CellState="GameManagerService.BoardGrid[5, 0].State" LinePosition="0" @ref="boardCell50" />
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 1].Value" CellState="GameManagerService.BoardGrid[5, 1].State" LinePosition="1" @ref="boardCell51" />
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 2].Value" CellState="GameManagerService.BoardGrid[5, 2].State" LinePosition="2" @ref="boardCell52" />
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 3].Value" CellState="GameManagerService.BoardGrid[5, 3].State" LinePosition="3" @ref="boardCell53" />
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 4].Value" CellState="GameManagerService.BoardGrid[5, 4].State" LinePosition="4" @ref="boardCell54" />
    </BoardLine>
</div>

<div class="flex-col items-center justify-start h-[164px] mb-[300px] @NextWordClasses">
    <p class="text-2xl mb-4 font-bold">@GetNextWordMessage()</p>
    <Button Text="JUGAR MÁS" Icon="play" OnClick="@PlayAgain" />
</div>

<div class="@KeyboardContainerClasses">
    <CascadingValue Value="this">
        <Keyboard />
    </CascadingValue>
</div>