.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px 0;
}

.board-box {
  height: 62px;
  width: 62px;
  margin: 3px;
  background-color: white;
  color: white;
  border: 2px solid rgb(211, 214, 218);
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-typing-letter {
  border-color: #878a8c;
  color: black;
}

.board-correct-letter {
  background-color: #6aaa64;
  border-color: #6aaa64;
}

.board-incorrectposition-letter {
  background-color: #c9b458;
  border-color: #c9b458;
}

.board-wrong-letter {
  background-color: #787c7e;
  border-color: #787c7e;
}