.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 50px;
  border-bottom: 1px solid lightgray;
}

.left-section {
  flex: 1;
}

.help-icon {
  height: 20px;
  margin-left: 15px;
  margin-top: 4px;
  cursor: pointer;
}

.middle-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: right;
}

.stats-icon {
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.cog-icon {
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
}