@inject LocalizationService LocalizationService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavManager

<div class="flex shrink-0 justify-between items-center w-screen h-12  border-b border-lightgray max-w-[480px]">
    <div class="flex-1 ml-4">
        <img class="mt-0.5 cursor-pointer" src="images/help.svg" alt="Help" title="@LocalizationService["HeaderShowHelp"]">
    </div>

    <div class="flex-1 flex justify-center">
        <p class="text-3xl font-bold">WORDLE</p>
    </div>

    <div class="flex-1 flex justify-end mr-4 mt-0.5">
        <img class="mr-2 cursor-pointer" src="images/chart.svg" alt="Statistics" title="@LocalizationService["HeaderShowStatistics"]" @onclick="() => AncestorComponent?.ShowStats()">
        <img class="cursor-pointer w-[21px] h-[14px] mt-[3px]" src="@GetCurrentLanguageFlagPath()" alt="Language selector" title="@LocalizationService["HeaderChangeLanguage"]" @onclick="ChangeLanguage">
    </div>
</div>