<div class="flex justify-between items-center w-screen h-12 border-b border-lightgray max-w-[480px]">
    <div class="flex-1 ml-4">
        <img class="h-6 mt-0.5 cursor-pointer" src="images/help.png">
    </div>

    <div class="flex-1 flex justify-center">
        <p class="text-3xl font-bold">WORDLE</p>
    </div>

    <div class="flex-1 flex justify-end mr-4">
        <img class="h-6 mr-2  cursor-pointer" src="images/stats.png">
        <img class="h-6 cursor-pointer" src="images/cog.png">
    </div>
</div>

@code {

}