<div class="header">
    <div class="left-section">
    <img class="help-icon" src="images/help.png">
    </div>

    <div class="middle-section">
    <div class="title">WORDLE</div>
    </div>

    <div class="right-section">
    <img class="stats-icon" src="images/stats.png">
    <img class="cog-icon" src="images/cog.png">
    </div>
</div>

@code {

}